.nav-links {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  position: relative; /* ทำให้ nav-underline อ้างอิงตำแหน่งจากตรงนี้ */
}

.nav-links .link,
.nav-links .active-link {
  text-decoration: none;
  color: #ddd; /* สีเทาเมื่อไม่ active */
  padding: 5px 10px;
  position: relative;
}

.nav-links .active-link {
  color: #ffffff; /* สีขาวเมื่อ active */
  font-weight: bold;
}

/* เส้นขีดใต้ */
.nav-underline {
  position: absolute;
  bottom: -5px; /* อยู่ใต้ NavLink */
  left: 0; /* เริ่มจากซ้ายสุด */
  height: 3px;
  width: 0;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}



/* Login Page Layout */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin-top: 10px;
  }
  
  /* Login Box */
  .login-box {
    background: linear-gradient(135deg, #6142ED, #372687);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 1200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 600px;
  }
  
  /* Header */
  .login-header h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .bold-text {
    font-weight: bold;
    color: #fff;
  }
  
  /* Logo */
  .logo {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .logo span {
    font-size: 60px;
    font-weight: normal;
  }
  
  /* Form */
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px; /* กำหนดความกว้างสูงสุดของช่อง Input */
    margin-bottom: 15px;
    text-align: left; /* ให้ Label ชิดซ้าย */
  }
  
  /* Label */
.form-group label {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff; /* ปรับสีตามดีไซน์ */
}

/* ช่อง Input */
.form-group input {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%; /* เต็มความกว้างของ form-group */
  max-width: 550px;
  height: 60px;
}
  
  /* Password Field */
  .password-field {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-field input {
    flex: 1;
    padding-right: 40px;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #ffb300;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 80%;      /* ความกว้างของปุ่มเป็น 80% */
    max-width: 300px;
    margin-top: 30px;
    align-self: center; /* ให้อยู่กึ่งกลาง */
  }
  
  .login-button:hover {
    background-color: #e09b00;
  }
  